*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(26, 36, 41);
    background-image: url(images/paul-pastourmatzis-08P2R1IRShw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;


    display: none;  /*test*/


}
                    /*test*/
#password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08798a;
    /* background-image: url(https://images.unsplash.com/photo-1722941600511-e133ca2fc837?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-image: url(https://images.unsplash.com/photo-1592399737996-fb91cf01b7fb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-image: url(https://media.istockphoto.com/id/1224542830/photo/dark-haired-bearded-man-hugging-his-pregnant-wife-while-sleeping.jpg?s=2048x2048&w=is&k=20&c=gLFs4O78SVtKEcMbux9pIqaTrfhf6KL0QeET9xCD7N8=); */
    /* background-image: url(https://media.istockphoto.com/id/174945387/photo/amorous-couple-with-fun-in-the-park.jpg?s=2048x2048&w=is&k=20&c=vdvaxIQ0NW0Cm_QP8z8AyOStglVDe1XGhGROWoKO9fA=); */
    background-image: url(https://media.istockphoto.com/id/93246104/photo/couple-in-love.jpg?s=2048x2048&w=is&k=20&c=q6_pgm5sAfgA6Q588mmQF9dy_ZTJpTXGligYfU0YZKY=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  form{
    background-color: #000000c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 50vh;
    color: #ffffff;
    border-radius: 20px;
    border: #ffffff solid 2px;
    gap: 20px;
  }
  label{
    /* background-color: #000000; */
    width: 8vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff00 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    background-color: #000000;
    width: 8vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #16b30baf solid 2px;
  }
  button:hover{
    cursor:progress;
  }
  input{
    background-color: #00000085;
    width: 15vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff77 solid 2px;
  }
                    /*end test*/
.porn-back-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -9;
}

header a{
    color: white;
    text-decoration: none;
}
.container{
    background-color:  rgba(0, 0, 0, 0.720);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0vh;
    left: 0px;
    z-index: 2;
}
.content{
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    flex-direction: row;
    width: max-content;
    min-width: 100vw;
    justify-content: right;
    align-items: center;
}
header .content img{
    width: 50px;
    background-color: #d4f3ff;
    padding: 3px;
    border-radius: 100px;
    border: #00aeff79 solid 4px;
}
.hot{
    color: #79c1ff;
    text-decoration: underline;
}
.logo-div{
    display: block;
    flex-direction: row;
    min-width: max-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10vw;
}
.logo-divo{
    display: flex;
    flex-direction: row;
    min-width: max-content;
    align-items: center;
    justify-content: center;
}
.logo-divo h3{
    margin-left: 15px;
 }
.header-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(0, 128, 255, 0.059);
    min-width: 30%;
    margin-right: 10vw;
    /* border-radius: 20px; */
    padding: 15px;
    border-right: #676767 solid 2px;
    border-left: #696969 solid 2px;
} 
.header-links a {
    color: white;
    animation: blink 2s infinite;
}
@keyframes blink {
    0%, 100% {
        color: white;
    }
    50% {
        color: rgb(0, 179, 255);
    }
}
.header-links li:nth-child(1) a {
    animation-delay: 0s;
}

.header-links li:nth-child(2) a {
    animation-delay: 0.5s;
}

.header-links li:nth-child(3) a {
    animation-delay: 1s;
}

.header-links li:nth-child(4) a {
    animation-delay: 1.5s;
}

.header-links li:nth-child(5) a {
    animation-delay: 2s;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 27px;
    margin-right: 10vw;
}
.home{
    background-color: rgba(0, 255, 255, 0);
    width: max-content;
    min-width: 100vw;
    height: max-content;
    min-height: 100vh;
    z-index: 0;
}
.home .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
    max-height: 100vh;
    padding-left:100px;
    padding-right: 100px;
    padding-top: 15px;
    gap: 20px;
}
.home .content .texto{
    width: 40vw;
    height: 80vh;
    padding-top: 15vh;
    overflow: hidden;
    /* background-color: #2222225d; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home .content .text{
    background-color: rgba(255, 0, 0, 0);
    min-width: max-content;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
    border-bottom: #696969 solid 4px;
    padding: 200px;
}

.home .content .imgo{
    width: 40vw;
    height: 80vh;
    padding-top: 20vh;
    overflow: hidden;
    background-color: #69696900;

}
.home .content .img{
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.home .content .img img{
    width: 350px;
    background-color: #ffffffba;
    border-radius: 200px;
    border: #00bbff79 solid 20px;
}
.info{
    background-color: #69696900;
    /* background-image: url(images/nite.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    z-index: 0;
}
.info .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgba(0, 0, 0, 0.686);
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
}
.cards-home-div{
    background-color: #ffffff00;
}
.title-projects-div{
    background-color: #000000b9;
    border-left: #009dff solid 8px;
    border-right: #00a2ff solid 8px;
    width: 100vw;
    position: absolute;
    top: 100vh;
    height: 10vh;
    box-shadow: #009dff20 0px 100px 100px 100px;

}
.title-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00000000;
    color: #ffffff;
    height: 10vh;
}
.title-projects img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}
.cards-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    background-color: rgba(0, 255, 255, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 70px;
}
.cards-home a{
    text-decoration: none;
    color: #ffffff;
}
.cards{
    width: 25vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.245);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    border: #ffffff solid 2px;
    overflow: hidden;
    border-radius: 20px;
}
#usa-lottery{
    background-image: url(images/jessiJek.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#usa-lottery h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000d6;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #login-page{
    background-image: url(images/secretfilmed.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #login-page h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #perv-mom{
    background-image: url(https://gcore-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/2a/5e/20/2a5e201f18d9e927addd9c4430df3bb2-2/2a5e201f18d9e927addd9c4430df3bb2.18.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #perv-mom h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #secrets2{
    background-image: url(images/secrets2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #secrets2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #breed{
    background-image: url(images/breed.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #breed h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #redhed-1{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/6f/91/f8/6f91f8372d9dfa3a8d21fccd56eabaf3-1/6f91f8372d9dfa3a8d21fccd56eabaf3.26.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #redhed-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #redhed-2{
    background-image: url(images/redhed-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #redhed-2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #family-stro-1{
    background-image: url(images/family-stroks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #family-stro-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #ladyfyre-1{
    background-image: url(images/ladyfyre-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #ladyfyre-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #undercover{
    background-image: url(images/undercover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #undercover h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #gali-diva-1{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/39/24/45/392445ac1f59b1b15ca465fa2fab30df/392445ac1f59b1b15ca465fa2fab30df.11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #gali-diva-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #gali-diva-2{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/4b/43/c2/4b43c21b9a518208815a2121dd256600/4b43c21b9a518208815a2121dd256600.23.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #gali-diva-2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #vibe{
    background-image: url(images/vibe-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #vibe h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #oksana{
    background-image: url(images/oksana.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 #oksana h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
.skills-and-experience{
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.753);
    padding-top: 5%;

}
.content-s-and-e{
    width: 100vw;
    height: max-content;
    min-height: 50vh;
    background-color: rgba(26, 36, 41, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skills{
    background-color: rgba(26, 36, 41, 0);
    width: 50vw;
    height: 50vh;
}
.title-skills{
    background-color: #0000007c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #009dff solid 8px;
    border-right: #00a2ff solid 8px;
    padding: 30px;
}
.title-skills img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}
.content-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d00;
    /* padding-left: 150px; */
    width: 50vw;
    height: 50vh;
}
.skills ul{
    color: #ffffff;
    list-style: none;
}
.skills ul li{
    font-size: large;
    margin: 15px;
}
.experience{
    background-color: #00000000;
    width: 50vw;
    height: 50vh;
}
.title-experience{
    background-color: #00000086;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #009dff solid 8px;
    border-right: #00a2ff solid 8px;
    padding: 30px;
}

.title-experience img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}
.content-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d00;
    /* padding-left: 150px; */
    width: 50vw;
    height: 50vh;
}
.experience ul{
    color: #ffffff;
    list-style: none;
}
.experience ul li{
    font-size: large;
    margin: 15px;
 }
.footer{
    background-color: #67676700;
    width: 100vw;
    height: max-content;
    min-height: 50vh;
}
.content-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    box-shadow: #000000 0px 0px 40px 0px;
    width: 100vw;
    height: max-content;
    min-height: 50vh;
    /* gap: 20px; */
}
.site-or-company{
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0);
    /* border: #676767 solid 4px; */
    width: 20vw;
    height: 45vh;
    border-radius: 20px;
}
.siteo-or-company{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 45vh;
}
.site-or-company a{
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.site-or-company a img{
    width: 50px;
    background-color: #d4f3ff;
    padding: 3px;
    border-radius: 100px;
    border: #00aeff79 solid 4px;
}
.site-or-company a h3{
    margin-left: 15px;
}
.infoo{
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0);
    /* border: #676767 solid 4px; */
    width: 20vw;
    height: 45vh;
    border-radius: 20px;
}
.content-infoo-footer{
    padding: 10px;
    width: 20vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-infoo-footer h2{
    color: #ffffff;
}
.media-or-contact{
    /* border: #676767 solid 4px; */
    border-radius: 20px;
    width: 20vw;
    height: 45vh;
}
.social-icons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20vw;
    height: 45vh;
    align-items: center;
    justify-content: center;
}
.social-icons a {
    display: inline-block;
    background-color: #cccccc00;
    /* border: #ffffff solid 2px; */
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.histoy-and-developer{
    /* border: #676767 solid 4px; */
    border-radius: 20px;
    width: 20vw;
    height: 45vh;
}
.text-histo{
    padding: 20px;
    width: 20vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-histo h2{
    color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header-links {
        display: none;
        flex-direction: column;
        gap: 0;
    }

    .header-links li {
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .header-links.active {
        display: flex;
        flex-direction:  row;
        width: 100%;
        position: fixed;
        top: 10vh; /* Adjust according to your header height */
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        /* animation: liste 20s linear infinite; */
    }

    header {
        height: 6vh;
        top: 0vh;
    }

    header .content img {
        width: 35px;
    }
#home #content #text{
    border-bottom: #00000000 solid 4px;
}
#home #content #text h1{
    position: absolute;
    top: 12vh;
    left: 10vw;
    font-size: large;

}
#home #content #img img{
    position: absolute;
    top: 10vh; 
    right: 10vw; 
    width: 20vw;
    border: #009dff solid 2px;
}

.porn-back-1{
    position: fixed;
    top: 0;
    left: -560px;
    width: 300vw;
    height: 100vh;
    z-index: -9;
}
#container{
    height: max-content;
}
#cards-home a{
    text-decoration: none;
    color: #ffffff;
}
.cards{
    width: 90vw;
}

#usa-lottery h1{
    width: 100%;
}

#login-page h1{
    width: 100vw;
 }
 #perv-mom h1{
    width: 100vw;
 }
 #secrets2 h1{
    width: 100vw;
 }
 #breed h1{
    width: 100vw;
 }
 #redhed-1 h1{
    width: 100vw;
 }
 #redhed-2 h1{
    width: 100vw;
 }
 #family-stro-1 h1{
    width: 100vw;
 }
 #ladyfyre-1 h1{
    width: 100vw;
 }
 #undercover h1{
    width: 100vw;
 }
 #gali-diva-1 h1{
    width: 100vw;
 }
 #gali-diva-2 h1{
    width: 100vw;
 }
 #vibe h1{
    width: 100vw;
 }
 #oksana h1{
    width: 100vw;
 }
#skills{
    background-color: rgba(26, 36, 41, 0);
    width: 100vw;
    height: 50vh;
}
#title-skills{
    margin-top: 10vh;
}
#title-skills img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}

.title-projects img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}
#content-skills{
    width: 100vw;
    padding-bottom: 20vh;
}
#skills ul{
    color: #ffffff;
    list-style: none;
}
#skills ul li{
    font-size: large;
    margin: 15px;
}
#experience{
    background-color: #00000000;
    width: 100vw;
    height: 50vh;
}
#title-experience{
    margin-top: 5vh;
}

#title-experience img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 5px;
    border-radius: 20px;
    border: #00aeff79 solid 4px;
    margin-left: 20px;
}
#content-experience{
    width: 100vw;
    padding-bottom: 20vh;
}
#experience ul{
    color: #ffffff;
    list-style: none;
}
#experience ul li{
    font-size: large;
    margin: 15px;
 }
 #services {
    padding-bottom: 10vh;
}

#services h2 {
    margin-bottom: 10vh;
    height: 10vh;
}

.service-card {
    width: 90%;
}

.service-icon {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.service-card p {
    font-size: 1em;
    color: #666;
}

.footer{
    background-color: #67676700;
    width: 100vw;
    height: max-content;
    min-height: 50vh;
    box-shadow: #008cff2c 0px 0px 100px 100px;
}
.content-footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#site-or-company{
    min-width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
#siteo-or-company{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 10vh;
}
.infoo{
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0);
    border-left: #009dff solid 8px;
    border-right: #00a2ff solid 8px;
    width: 100vw;
    height: max-content;
    min-height: 15vh;
    border-radius: 0px;
}
.content-infoo-footer{
    width: max-content;
    max-width: 100vw;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    background-color: #009dff00;
    width: 100%;
    gap: 30px;
}
.content-infoo-footer h2{
    color: #ffffff;
}
.media-or-contact{
    /* border: #676767 solid 4px; */
    border-radius: 20px;
    width: 100vw;
    height: 10vh;
}
.social-icons {
    width: 100vw;
    height: 10vh;
}
.histoy-and-developer{
    border-left: #009dff solid 8px;
    border-right: #00a2ff solid 8px;
    border-radius: 0px;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
}
.text-histo{
    width: 100vw;
    height: max-content;
}
.text-histo h2{
    color: #ffffff;
}
#password-form {
    background-image: url(https://images.unsplash.com/photo-1515865697047-440148b5cfd5?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}




form{
    background-color: #000000c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    height: 30vh;
    color: #ffffff;
    border-radius: 20px;
    border: #ffffff solid 2px;
    gap: 20px;
  }
  label{
    /* background-color: #000000; */
    width: 60vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff00 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    background-color: #000000;
    width: 30vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #16b30baf solid 2px;
  }
  button:hover{
    cursor:progress;
  }
  input{
    background-color: #00000085;
    width: 55vw;
    height: 5vh;
    color: #ffffff;
    border-radius: 5px;
    border: #ffffff77 solid 2px;
  }

}
