*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 29, 38);
    background-image: url(../images/Abstract2\ _\ ff64.jpeg);
    background-position: center;
    background-size: 45%;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.porn-back-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -9;
}
header a{
    color: white;
    text-decoration: none;
}
.container{
    background-color:  rgba(0, 0, 0, 0);
    width: 100vw;
    height: 0vh;
    z-index: 1;
}
header{
    background-color: rgba(0, 0, 0, 0.486);
    color: #ffffff;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0vh;
    left: 0px;
    z-index: 2;
}
.content{
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    flex-direction: row;
    width: max-content;
    min-width: 100vw;
    justify-content: right;
    align-items: center;
}
header .content img{
    width: 50px;
    background-color: #d4f3ff;
    padding: 3px;
    border-radius: 100px;
    border: #00aeff79 solid 4px;
}
.hot{
    color: #79c1ff;
    text-decoration: underline;
}
.logo-div{
    display: block;
    flex-direction: row;
    min-width: max-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10vw;
}
.logo-divo{
    display: flex;
    flex-direction: row;
    min-width: max-content;
    align-items: center;
    justify-content: center;
}
.logo-divo h3{
    margin-left: 15px;
 }
.header-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(0, 128, 255, 0.059);
    min-width: 30%;
    margin-right: 10vw;
    /* border-radius: 20px; */
    padding: 15px;
    border-right: #676767 solid 2px;
    border-left: #696969 solid 2px;
} 
.header-links a {
    color: white;
    animation: blink 2s infinite;
    margin-right: 20px;
}
@keyframes blink {
    0%, 100% {
        color: white;
    }
    50% {
        color: rgb(0, 179, 255);
    }
}
.header-links li:nth-child(1) a {
    animation-delay: 0s;
}
.header-links li:nth-child(2) a {
    animation-delay: 0.5s;
}
.header-links li:nth-child(3) a {
    animation-delay: 1s;
}
.header-links li:nth-child(4) a {
    animation-delay: 1.5s;
}
.header-links li:nth-child(5) a {
    animation-delay: 2s;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 27px;
    margin-right: 10vw;
}
.info{
    background-color: #69696900;
    background-image: url(images/nite.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    z-index: 0;
    animation: infoto 20s infinite linear;

}
/* @keyframes infoto {
   0% {
       opacity: 1;
       transform: translateY(0%);
     }
     50% {
       opacity: 1;
       transform: translateY(0%);
     }
     100% {
      opacity: 1;
      transform: translateY(0%);
    } 
   /* from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   } *//*
}*/
.info .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    /* padding: 100px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
}
.cards-home-div{
    background-color: #ffffff00;
}
.title-projects-div{
    background-color: #00000000;
    /* border-left: #009dff solid 10px;
    border-right: #00a2ff solid 10px; */
    width: 100vw;
    position:absolute;
    top: 10vh;
    height: 10vh;
    /* box-shadow: #009dff20 0px 100px 100px 100px; */
    z-index: 1;

}
.cards-home-div{
    background-color: #009dff00;
    position: absolute;
    top: 20vh;
}
.title-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00000000;
    color: #ffffff;
    height: 10vh;
}
.title-projects img{
    width: 70px;
    background-color: #d4f3ff;
    padding: 3px;
    border-radius: 20px;
    margin-left: 20px;
    border: #00aeff79 solid 4px;
}
.cards-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    background-color: rgba(0, 255, 255, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* padding: 70px; */
    padding-top: 70px;
    padding-bottom: 70px;
}
.cards-home a{
    text-decoration: none;
    color: #ffffff;
}
.cards{
    width: 25vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.245);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: rgba(255, 255, 255, 0);
    border: #ffffff solid 2px;
    overflow: hidden;
    border-radius: 20px;
}
.cards:hover{
   background-color: #79c1ff;
   border: #00b3ff double 2px;
   /* width: 27vw; */
   color: #ffffff;
}
.cards h1{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
}
.cards h1:hover{
   width: 25vw;
   height: 30vh;
   background-color: #000000d6;
   display: flex;
   align-items: center;
   justify-content: center;
}
#usa-lottery{
    background-image: url(../images/jessiJek.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* #usa-lottery h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000d6;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 #login-page{
    background-image: url(../images/secretfilmed.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 /* #login-page h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 #perv-mom{
    background-image: url(https://gcore-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/2a/5e/20/2a5e201f18d9e927addd9c4430df3bb2-2/2a5e201f18d9e927addd9c4430df3bb2.18.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #perv-mom h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 #secrets2{
    background-image: url(../images/secrets2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #secrets2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #breed{
    background-image: url(../images/breed.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #breed h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #redhed-1{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/6f/91/f8/6f91f8372d9dfa3a8d21fccd56eabaf3-1/6f91f8372d9dfa3a8d21fccd56eabaf3.26.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #redhed-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #redhed-2{
    background-image: url(../images/redhed-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #redhed-2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #family-stro-1{
    background-image: url(../images/family-stroks.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #family-stro-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #ladyfyre-1{
    background-image: url(../images/ladyfyre-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #ladyfyre-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #undercover{
    background-image: url(../images/undercover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #undercover h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #gali-diva-1{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/39/24/45/392445ac1f59b1b15ca465fa2fab30df/392445ac1f59b1b15ca465fa2fab30df.11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #gali-diva-1 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */

 #gali-diva-2{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/4b/43/c2/4b43c21b9a518208815a2121dd256600/4b43c21b9a518208815a2121dd256600.23.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #gali-diva-2 h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #vibe{
    background-image: url(../images/vibe-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #vibe h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 
 #oksana{
    background-image: url(../images/oksana.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 /* #oksana h1{
    width: 25vw;
    height: 30vh;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
 } */
 #hot-milf{
    background-image: url(../images/hot-milf-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben1{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/25/74/c0/2574c0c356dfcdecef5b71756657a2fa/2574c0c356dfcdecef5b71756657a2fa.4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #volaben2{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169lll/60/87/cf/6087cf3b80f6133dd24e0e3040024d9e/6087cf3b80f6133dd24e0e3040024d9e.23.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben3{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/f7/f0/fe/f7f0fe17a276a7bd5070311e1564d5f3/f7f0fe17a276a7bd5070311e1564d5f3.14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben4{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/59/cb/9d/59cb9d7798534b6abcfa770b56294c9e/59cb9d7798534b6abcfa770b56294c9e.25.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben5{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/2c/63/2b/2c632bae7f55759c8af4c684050acae7/2c632bae7f55759c8af4c684050acae7.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben6{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/0e/95/29/0e95298ee9f83290666d7ec5bc8da391/0e95298ee9f83290666d7ec5bc8da391.11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben7{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/ca/94/61/ca94616ff653badb3ab7ebb0619156d9-1/ca94616ff653badb3ab7ebb0619156d9.12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben8{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/1f/2a/f3/1f2af380681ea847c383b298b99c9137/1f2af380681ea847c383b298b99c9137.7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben9{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/6a/fe/7f/6afe7f440a9c5f87df4ed31c208b39b9/6afe7f440a9c5f87df4ed31c208b39b9.4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben10{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/d6/2c/10/d62c10b53dc368b6d1b8d505c422a8b9/d62c10b53dc368b6d1b8d505c422a8b9.3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben11{
    background-image: url(https://gcore-pic.xnxx-cdn.com/videos/thumbs169xnxxll/6b/46/4a/6b464a83133d81b07ddf60b1557303b0/6b464a83133d81b07ddf60b1557303b0.17.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben12{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/32/ea/9d/32ea9de50aa061c578db4021860febe0/32ea9de50aa061c578db4021860febe0.29.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben13{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxposter/68/2c/17/682c17243d0490d338bbbbdb6ede4334-1/682c17243d0490d338bbbbdb6ede4334.14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #volaben14{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169lll/f3/97/55/f397552ee18e1351ccb3158316b5718a/f397552ee18e1351ccb3158316b5718a.12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #volaben15{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/57/33/56/57335666e3c9c5f07a611daf14e2c6bf/57335666e3c9c5f07a611daf14e2c6bf.6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #volaben16{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/78/4a/34/784a347286263caec30ea903fc8801cd/784a347286263caec30ea903fc8801cd.20.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben17{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/f8/7e/8a/f87e8a3e887c79a88335221cd847170c-2/f87e8a3e887c79a88335221cd847170c.16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben18{
    background-image: url(https://gcore-pic.xnxx-cdn.com/videos/thumbs169xnxxll/19/73/25/19732509ae88745bc93fb9273c65b736/19732509ae88745bc93fb9273c65b736.5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #volaben19{
    background-image: url(https://cdn77-pic.xnxx-cdn.com/videos/thumbs169xnxxll/38/29/a7/3829a763f6f660ebb27c493fc6bcf421-1/3829a763f6f660ebb27c493fc6bcf421.16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

/* Responsive Styles */
@media (max-width: 768px) {

    .header-links li {
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    .header-links.active {
        display: flex;
        flex-direction:  row;
        width: 100%;
        position: fixed;
        top: 10vh; /* Adjust according to your header height */
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        /* animation: liste 20s linear infinite; */
    }

    header {
        height: 6vh;
        top: 0vh;
    }

    header .content img {
        width: 35px;
    }

.porn-back-1{
    position: fixed;
    top: 0;
    left: -560px;
    width: 300vw;
    height: 100vh;
    z-index: -9;
}
#container{
    height: max-content;
}
#cards-home a{
    text-decoration: none;
    color: #ffffff;
}
.cards{
    width: 47vw;
    height: 18vh;
}

#usa-lottery h1{
    width: 100%;
}

#login-page h1{
    width: 100vw;
 }
 #perv-mom h1{
    width: 100vw;
 }
 #secrets2 h1{
    width: 100vw;
 }
 #breed h1{
    width: 100vw;
 }
 #redhed-1 h1{
    width: 100vw;
 }
 #redhed-2 h1{
    width: 100vw;
 }
 #family-stro-1 h1{
    width: 100vw;
 }
 #ladyfyre-1 h1{
    width: 100vw;
 }
 #undercover h1{
    width: 100vw;
 }
 #gali-diva-1 h1{
    width: 100vw;
 }
 #gali-diva-2 h1{
    width: 100vw;
 }
 #vibe h1{
    width: 100vw;
 }
 #oksana h1{
    width: 100vw;
}

}
